@import url("myform.65feaecb7f05.css");
@import url("mynav.61ccc45d6d2b.css");
@import url("signup.d888ea8580c7.css");
@import url("list.c71044a0792c.css");

body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
