{% extends 'base.html' %}

{% block content %}

<div class='post-list'>
    <h3><a href="{% url 'department:details' pk=department.pk %}">{{ department.name }}</a></h3>
    <br>
    <br>
    {% for post in posts %}
    <h3><a href="{% url 'posts:details' pk=post.pk %}">{{ post.title }}</a></h3>
    <p style='white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 15ch;'>
        {{post.message}}
    </p>
    {% empty %}
    <h1>No posts till now</h1>
    {% endfor %}
</div>

{% endblock %}